/*==== GLOBAL ==========================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%; /* 1rem == 10px */
    
    --navy-blue: #05445E;
    --blue-grotto: #189AB4;
    --blue-green: #75E6DA;
    --baby-blue: #D4F1F4;

    --border-width: 4px;
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    margin-inline: auto;
    width: min(60rem, 100%);
}

body {
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;

    color: var(--navy-blue);
    background: linear-gradient(var(--baby-blue), var(--blue-green));

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 100vh;
}

header, #settings, #result, footer {
    padding-inline: 3rem;
}

/*==== MAIN ==========================*/
main {
    flex: 1;
    
    display: flex;
    flex-direction: column;
    gap: 4rem;

    padding-top: 2rem;
    padding-inline: 2rem;
}

/*---- HEADER ----------------------- */
main header {
    height: 20rem;

    background-color: var(--blue-green);

    border: var(--border-width) solid var(--blue-grotto);
    border-radius: 1.5rem;

    display: flex;
    align-items: center;
}

main header h1 {
    width: 100%;

    font-size: 5rem;
    text-align: center;

    cursor: default;
}

/*---- SETTINGS ----------------------- */
main #settings {
    padding-block: 4rem;

    background-color: var(--blue-green);

    border: var(--border-width) solid var(--blue-grotto);
    border-radius: 1.5rem;

    display: flex;
    flex-direction: column;
    gap: 4rem;
}

main #settings label {
    font-size: 3rem;
}

main #settings label input,
main #settings #numberOfWinnersPicked #numberOfWinners {
    height: 5rem;
    width: 10rem;

    padding: .8rem 0rem .8rem 1.5rem;

    background-color: var(--baby-blue);

    border: var(--border-width) solid var(--blue-grotto);
    border-radius: 1rem;
    
    font-size: 2.5rem;
    line-height: 0;
    text-align: center;
}

main #settings label input:focus,
main #settings #numberOfWinnersPicked #numberOfWinners:focus {
    outline: var(--border-width) solid var(--baby-blue);
}

main #settings #numberOfWinnersPicked {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main #settings #numberOfWinnersPicked label {
    text-align: center;
}

main section #range {
    padding: 2rem;

    display: flex;
    justify-content: center;
    gap: 6rem;
    flex-wrap: wrap;
}

main section #range label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

main section #range label:first-child,
main section #range label:nth-child(2) {
    position: relative;
}

main section #range label:first-child::before {
    content: "De";
    position: absolute;
    left: -4.5rem;
}

main section #range label:nth-child(2)::before {
    content: "Até";
    position: absolute;
    left: -5.5rem;
}

/*---- RESULT ----------------------- */
main #result {
    padding-bottom: 4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

main #result #actions {
    width: 100%;

    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}

main #result button#pick,
/* #result button#reset.active { */
#reset.active {
    width: 18rem;
    height: 7rem;

    background-color: var(--blue-green);

    border: var(--border-width) solid var(--blue-grotto);
    border-radius: 4rem;

    color: var(--btn-primary-color);

    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-transform: uppercase;
}

main #result a {
    text-decoration: none;
    color: var(--navy-blue);
}

main #result button#pick:hover,
/* #result button#reset.active:hover { */
#reset.active:hover {
    color: var(--baby-blue);

    background-color: var(--blue-grotto);
    cursor: pointer;

    transition: 200ms;
}

/* #result button#reset { */
#reset {
    display: none;
}

/* #result button#reset.active { */
#reset.active {
    display: initial;
}

main #result #winners {
    width: 80%;
    padding-block: 5rem;
}

main #result #winners #currentWinner {
    width: 100%;

    margin-bottom: 3rem;
}

main #result #winners #currentWinner #winner {
    font-size: 4rem;
    text-align: center;

    margin-inline: auto;
}

main #result #winners #winnersList {
    border: var(--border-width) solid var(--blue-grotto);
    border-radius: 1.5rem;

    padding: 1rem 5rem;

    min-height: 14.4rem;

    background-color: var(--blue-green);
}

main #result #winners #winnersList ol {
    display: flex;
    flex-direction: column;

    font-size: 2rem;
}

main #result #winners #winnersList ol li {
    padding-block: .3rem;
}

main #result #winners #winnersList ol li::marker {
    color: var(--navy-blue);
}

main #result #winners #winnersList ol li:nth-child(odd) {
    color: var(--baby-blue);

    background-color: var(--blue-grotto);

    border-radius: .6rem;
}

main #result #winners #winnersList ol li:nth-child(even) {
    background-color: var(--blue-green);
}

main #result #winners #winnersList ol li {
    text-align: center;
}

/*====FOOTER==========================*/
footer {
    color: var(--blue-green);

    background-color: var(--navy-blue);

    border-top: var(--border-width) solid var(--blue-grotto);

    height: 15rem;

    display: flex;
    justify-content: center;

}

footer #author {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

footer #author p {
    flex: 1;
    flex-shrink: 1;

    text-align: center;
}

footer a {
    font-weight: 700;
    text-decoration: none;

    color: var(--blue-green);
}

footer #author #links {
    flex-shrink: 2;
}