/*==== GLOBAL ==========================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%; /* 1rem == 10px */
}

.wrapper {
    margin-inline: auto;
    width: min(60rem, 100%);
}

body {
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*==== MAIN ==========================*/
main {
    flex: 1;
    
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

/*---- HEADER ----------------------- */
main header {
    height: 20rem;

    display: flex;
    align-items: center;
}

main header h1 {
    width: 100%;

    font-size: 5rem;
    text-align: center;
}

/*---- SETTINGS ----------------------- */
main #settings {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

main #settings label {
    font-size: 3rem;
}

main #settings label input,
main #settings #numberOfWinnersPicked #numberOfWinners {
    height: 5rem;
    width: 10rem;

    padding: .8rem .3rem .8rem 1.5rem;

    font-size: 2.5rem;
    line-height: 0;
    text-align: center;
}

main #settings #numberOfWinnersPicked {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section #range {
    display: flex;
    justify-content: center;
    gap: 6rem;
    flex-wrap: wrap;
}

main section #range label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

/*---- RESULT ----------------------- */
main #result {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main #result button#pick {
    width: 20rem;
    height: 8rem;
}

main #result #winners {
    width: 100%;
    padding: 6rem;
}

main #result #winners #currentWinner {
    width: 100%;
}

main #result #winners #currentWinner #winner {
    font-size: 4rem;
    text-align: center;

    margin-inline: auto;
}

/*====FOOTER==========================*/
footer {
    height: 15rem;

    display: flex;
    justify-content: center;
}

footer #author {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

footer #author p {
    flex: 1;
    flex-shrink: 1;

    text-align: center;
}

footer #author #links {
    flex-shrink: 2;
}